&wdt010 {
	status = "okay";
};

/ {
	aliases {
		watchdog0 = &wdt010;
	};
};

&gpiote130 {
	status = "okay";
};

&gpio1 {
	status = "okay";
	/* Enable the input sense feature for the resume button */
	sense-edge-mask = <0x0C>;
};

/ {
	leds {
		compatible = "gpio-leds";

		radio_led: led {
			gpios = < &gpio1 1 GPIO_ACTIVE_HIGH >;
			label = "Radio LED";
		};
	};

	buttons {
		compatible = "gpio-keys";

		radio_button_suspend: button2 {
			gpios = < &gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) >;
			label = "Radio button suspend";
		};

		radio_button_resume: button3 {
			gpios = < &gpio1 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP) >;
			label = "Radio button resume";
		};
	};
};
