/ {
	flashcontroller0: flash-controller@40022000 {
		compatible = "zephyr,sim-flash";
		reg = < 0x40022000 0x400 >;
		#address-cells = < 0x1 >;
		#size-cells = < 0x1 >;
		erase-value = < 0xff >;
		flash0: flash@0 {
			status = "okay";
			compatible = "soc-nv-flash";
			erase-block-size = < 0x800 >;
			write-block-size = < 0x2 >;
			reg = < 0x0 0x1800 >;
			partitions {
				compatible = "fixed-partitions";
				#address-cells = < 0x1 >;
				#size-cells = < 0x1 >;
				storage_partition: partition@0 {
					label = "storage";
					reg = < 0x0 0x1800 >;
				};
			};
		};
	};
};
