&wdt010 {
	status = "okay";
};

&spi130 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	clock-frequency = <DT_FREQ_M(8)>;
	pinctrl-0 = <&spi130_default>;
	pinctrl-1 = <&spi130_sleep>;
	pinctrl-names = "default", "sleep";

	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
};

&pinctrl {
	spi130_default: spi130_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 0, 10)>,
				<NRF_PSEL(SPIM_MOSI, 0, 4)>,
				<NRF_PSEL(SPIM_SCK, 0, 0)>;
		};
	};

	spi130_sleep: spi130_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 4)>,
				<NRF_PSEL(SPIM_SCK, 0, 0)>,
				<NRF_PSEL(SPIM_MISO, 0, 10)>;
			low-power-enable;
		};
		/*group2 {
			psels = <NRF_PSEL_DISCONNECTED(SPIM_MISO)>;
		};*/
	};
};

/ {
	aliases {
		watchdog0 = &wdt010;
	};
};
